replicaCount: 2

image:
  repository: cr.yandex/${registry_id}/hybrid-api
  tag: v0.1
  pullPolicy: Always

service:
  type: ClusterIP
  port: 8888

ingress:
  enabled: true
  className: nginx
  host: ${ingress_host}

serviceMonitor:
  enabled: true
  namespace: monitoring
  interval: 15s
  releaseLabel: monitoring

env:
  DB_DSN: "${db_dsn}"
  S3_BUCKET: "${s3_bucket}"
  AWS_ACCESS_KEY_ID: "${access_key}"
  AWS_SECRET_ACCESS_KEY: "${secret_key}"
  S3_ENDPOINT: "${s3_endpoint}"
